// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
body {
    background-color: #000000!important;
}
.pokemon-landing-page h1{
    color: yellow;
}
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here